/* header */
.page-header {
    width: 100%;
    height: 60px;
    background-color: var(--component-default-color);
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    padding: 5px 15px;
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.page-header h2 {
    align-self: center;
}

.page-header > form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-header > form > input, .page-header > form > button {
    height: 100%;
    background-color: var(--component-default-color);
    color: var(--font-color);
    border: 1px solid var(--primary);
    padding: 5px 15px;
    font-size: 14px;
}

.page-header > form > input {
    min-width: 350px;
}

/* menu */
.menu-list {
    color: var(--font-color);
    margin-bottom: 5px;
}

.menu-list span {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-items: start;
    align-items: center;
    font-size: large;
    cursor: pointer;
}

.menu-list ul {
    max-height: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu-list li {
    margin-left: 55px;
}

.menu-list a {
    text-decoration: none;
    color: var(--font-color);
}

.menu-list ul.close {
    max-height: 0; 
    transition: max-height 0.3s ease-out;
}
.menu-list ul.open {
    max-height: fit-content; 
    transition: max-height 0.3s ease-out;
}

/* card */
.card {
    width: 100%;
    height: fit-content;
    border: 1px solid var(--primary);
    color: var(--font-color);
    min-width: 300px;
    --old-price: #911313;
    --price:  #00ff15;
}

.card img {
    width: 100%;
    min-height: 300px;
}

.card header {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 50px;
}

.card header .price-tag{
    text-align: end;
    color: var(--price);
    font-size: 18px;
}

.card .price-tag p:nth-child(1){
    font-size: 12px;
    font-style: italic;
    color: var(--old-price);
    text-decoration: line-through;
}

.card footer {
    font-size: 14px;
    font-style: italic;
    padding: 5px;
    height: 50px;
}

/* skill */
.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill .skill-name {
    font-size: 20px;
}

.skill .skill-date {
    font-size: 16px;
    font-style: italic;
}

/* filter */
.filter {
    display: flex;
    width: calc(100% - 30px);
    height: 60px;
    color: var(--primary);
    align-items: center;
    padding: 5px;
    gap: 10px;
    border: 1px solid var(--primary);
    margin: 15px 15px 0 15px;
    overflow-y: hidden;
    background-color: var(--component-default-color);
}

.filter .other-filters::-webkit-scrollbar, .filter::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.filter .other-filters::-webkit-scrollbar-track, .filter::-webkit-scrollbar-track {
    background: var(--component-default-color); 
}

.filter .other-filters::-webkit-scrollbar-thumb, .filter::-webkit-scrollbar-thumb {
    background: var(--primary); 
    border-radius: 4px; 
}

.filter .other-filters::-webkit-scrollbar-thumb:hover, .filter::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.filter span {
    margin: 0 10px;
    font-size: 18px;
}

.filter form {
    display: flex;
    width: fit-content;
    align-items: center;
    height: 100%;
}

.filter > form > input[type="text"] {
    border: 1px solid var(--primary);
    background-color: var(--component-default-color);
    color: var(--font-color);
    font-size: 18px;
    padding-left: 10px;
    width: 300px;
    height: 45px;
}

.filter > form > button {
    border: 1px solid var(--primary);
    background-color: var(--component-default-color);
    color: var(--font-color);
    font-size: 18px;
    padding: 10px;
    width: fit-content;
    height: 45px;
}

.filter .other-filters {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    width: fit-content;
    overflow: hidden;
}

/* checkbox and radio*/
.checkbox, .radio {
    padding: 5px 15px 10px 15px;
    width: fit-content;
    height: 100%;
}

.checkbox div, .radio div {
    display: flex;
    flex-direction: row;
}

.checkbox span, .radio span {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 10fr;
    font-size: 12px;align-items: center;
}

.checkbox legend, .radio legend {
    font-size: 14px;
}

/* dropdown */
.dropdown {
    width: 150px;
    height: 100%;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid var(--primary);
    background-color: var(--component-default-color);
    color: var(--font-color);
}

.dropdown:focus {
    outline: none;
}

.dropdown:focus option {
    color: var(--bg-color);
    background-color: #00000013; 
}

/* range */
.range {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 5px;
}

.range > div {
    display: flex;
    align-items: center;
}

.range > div > input {
    width: 100%;
}

.range > div > span {
    font-size: 14px;
}

/* date range */
.date-range {
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 12px;
}

.date-range p {
    font-size: 14px;
    width: 100%;
}

.date-range > div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.regular-btn{
    height: fit-content;
    width: fit-content;
    padding: 5px;
}

/* image viewer */
.main-photo {
    width: 100%;
}

.main-photo img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.thumbnail-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* question and answer */

.question-and-answer {
    width: 100%;
    border: 1px solid var(--primary);
}

.question-and-answer .question {
    background-color: var(--component-default-color);
    font-weight: bold;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.question-and-answer .question img{
    justify-self: end;
}

.question-and-answer .answer {
    padding: 30px;
}

/* banner */
.banner-container {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--primary);
}
  
.banner-container img {
    width: 100%;
    height: auto;
    max-height: 500px;
    display: none;
    transition: opacity 0.5s ease-in-out;
}
  
.banner-container img.active {
    display: block;
    opacity: 1;
}
  
.banner-container img:not(.active) {
    position: absolute;
    left: 100%;
    opacity: 0;
}
  
.banner-container img.active + img {
    display: block;
    position: absolute;
    left: 0;
    opacity: 1;
}
  
@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
  