/* card container */
.card-container, .related {
    width: 100%;
    color: var(--font-color);
    padding: 15px;
}

.card-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 5px;
}

/* side bar */
.side-bar {
    display: flex;
    flex-direction: column;
    height: 100%; 
    background-color: var(--component-default-color);
    border-right: 0.5px solid var(--primary);
    padding: 15px;
}

.side-bar header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.side-bar .side-bar-menu {
    margin-bottom: 15px;
    max-height: 450px;
    overflow-y: auto;
}

.side-bar .side-bar-menu::-webkit-scrollbar {
    width: 6px;
}

.side-bar .side-bar-menu::-webkit-scrollbar-track {
    background: var(--component-default-color); 
}

.side-bar .side-bar-menu::-webkit-scrollbar-thumb {
    background: var(--primary); 
    border-radius: 4px; 
}

.side-bar .side-bar-menu::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.side-bar footer {
    color: var(--font-color);
    margin-top: auto; 
}

.side-bar footer > a {
    text-decoration: none;
    color: var(--font-color);
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.side-bar footer .social-links {
    height: 60px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--primary);
}

.side-bar footer .social-links a {
    text-decoration: none;
    color: var(--font-color);
    width: 40px;
    height: 40px;
    font-size: 12px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
}

/* resume */ 
.resume {
    height: fit-content;
    padding: 15px;
    color: var(--primary);
    margin: 15px;
    border: 1px solid var(--primary);
    background-color: var(--component-default-color);
}

.resume header {
    padding: 0 15px 15px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.resume header, .resume .resume-content {
    margin-bottom: 25px;
    border-bottom: 1px solid var(--primary);
}

.resume header .pf-pic {
    border: 1px solid var(--primary);
    width: 300px;
    height: 300px;
}

.resume header .pf-info {
    padding-left: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
}

.resume header .pf-info span:first-child {
    font-size: 64px;
}

.resume header .pf-info span:last-child {
    font-size: 50px;
}

.resume .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume .skills-container {
    width: 100%;
    margin: 15px 0;
}

.resume .skills-container .skills {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 15px;
}
/* detail-container */
.detail-container{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}

.detail-container h2 {
    margin: 10px 15px;
}

.detail-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border: 1px solid var(--primary);
    margin: 5px 15px;
}

.details {
    margin: 20px 15px;
    padding-left: 15px;
    border-left: 5px solid var(--primary);
    --price:  #00ff154d;
    --new: #00ff15;
}

.details .long-description {
    margin-top: 15px;
}

.details .long-description :is(ul, ol, dl) {
    margin-left: 25px;
}

.details span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
    margin: 5px 0;
    width: fit-content;
    color: var(--primary);
    font-size: 18px;
    font-weight: bold;
}

.details span p {
    background-color: var(--component-default-color);
    border-radius: 5px;
    padding: 0 10px;
}

.details a {
    text-decoration: none;
    color: var(--primary);
}

.details a:visited {
    color: var(--primary);
}

/* related */

.related h1 {
    margin-top: 10px;
    padding: 15px 0;
}

.related h2 {
    margin-top: 10px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--primary);
}

.related-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
