@import url('./components.css');
@import url('./layout.css');
@import url('./pages.css');

:root {
    --bg-color: #0b0b0b;
    --component-default-color: #ffffff1e;
    --primary: #fff;
    --font-color: #fff;
    --input-field-bg: #ffffffe9;
    --input-field-text: #0f0c0c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --outline: 0.10px solid red;
}

body {
    overflow: hidden;
}

main {
    overflow-y: scroll;
    background-color: var(--bg-color);
}

input {
    background-color: var(--input-field-bg) !important;
    color: var(--input-field-text) !important;
}

.app {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1.5fr 6fr;
    background-color: var(--bg-color);
}

.hidden {
    display: none;
}

.max-size {
    width: 100%;
    height: 100%;
}

.separator-vertical {
    height: 100%;
    width: 1px;
    margin: 0 15px;
    background-color: var(--primary);
}

.separator-horizontal {
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background-color: var(--primary);
}
/* animation */
